NEXT_PUBLIC_SUPABASE_URL=https://pmrxlyyllgsjaqgswfuo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtcnhseXlsbGdzamFxZ3N3ZnVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNzAwMDAsImV4cCI6MjA5MDY0NjAwMH0.TkUKooALH6B-ltcsIIrWerBgnOqhQF2oQ9Mj4BTbdxM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtcnhseXlsbGdzamFxZ3N3ZnVvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTA3MDAwMCwiZXhwIjoyMDkwNjQ2MDAwfQ.KOzpSE3m0NppqbWeMZVDaIhMIadt6ZYzV1op5iHxYhs

OPENAI_API_KEY=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

RESEND_API_KEY=
RESEND_FROM=


RSS_FEED_URLS=https://www.bensbites.co/rss/,https://www.theneurondaily.com/rss/,https://stratechery.com/feed/
YOUTUBE_CHANNELS=https://www.youtube.com/@AIExplained,https://www.youtube.com/@matthew_berman
